<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582492288129-dnnunmb6vatuaeu3muq8ckbc0b7j3tkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582492288129-dnnunmb6vatuaeu3muq8ckbc0b7j3tkn</string>
	<key>API_KEY</key>
	<string>AIzaSyBIrHPpzaW0WoePeI-7wkkh2nK_DXHn9sQ</string>
	<key>GCM_SENDER_ID</key>
	<string>582492288129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-d3009</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-d3009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582492288129:ios:231fe189b83bc579234980</string>
</dict>
</plist>